@import "../../scss/custom";

// CONNECT WALLET 
.connect-wallet-options{
    display: none;
}
.wallet-options-active.connect-wallet-options{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.5px);
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
        .connect-wallet-options-div{
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 2.5rem 0.5rem 3rem;
        border: 1px solid #70707040;
            #btn-connect-close{
                cursor: pointer;
                position: absolute;
                top: 7px;
            }
            h3{
                font-size: 1.8rem;
                margin-bottom: 2rem;
                @extend %gbold;
            }
            ul{
                max-width: 131px;
                margin: auto;
                padding: 0;
                li{
                    padding: 0.6rem 0;
                    margin-bottom: 1rem;
                    font-size: 1.3rem;
                    @extend %gbook;
                    img{
                        width: 15px;
                        margin-right: 0.4rem;
                    }
                }
            }
            
            
        }
}
// NOTIFICACION
.dash-notification-invest{
    top: -0.7rem;
    right: 0;
    @extend %notification;
}
ul.dash-menu-general{
    .dash-notification-invest{
        transform: translate(-50px, 20px);
    }
}


.dashboard-home-section1{
    background-color: #ffffff60;
}
main{
    min-height: calc(100vh - 80px);
    background-image:url(../../images/montana-dash.png);    
    background-position-y: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.dashboard-home{
        background-image:url(../../images/home.png);
        background-position-y: 62vh;
        background-repeat: no-repeat;
        @media screen and (max-width:1200px){
            background-position-y: 120vh;
        }
    &-section1{
        height: 100vh;
        @media screen and (max-width:1200px){
            height: 100%;
        }
        &-box1{
            h5{
                font-size:1.4rem;
                @extend %gbook;
                margin: 0
            }
            h3{
                @extend %title1;
                margin: -.5rem 0 1rem 0;
            }
            &-carousel{
                max-width:637px;
                min-width:600px;
                margin:auto;
                @media screen and (max-width:650px){
                    max-width: 400px;
                    min-width: 290px;
                }
                &-container{
                    position: relative;
                    &-list{
                        overflow: hidden;
                        height: 370px;
                        align-items: flex-start;
                        display: flex;
                        @media screen and (max-width:1200px){
                            height: 100%;
                        }
                        &-item{
                            flex-direction: column;
                            @extend %c-item;
                            h4{
                               @extend %proposal-title;
                            }
                            .dashboard-home-carousel{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                margin-top: 2.5rem;
                                .dashboard-more-info-btn{
                                    @extend %dash-more-info-btn;
                                }
                                .dashboard-invest-btn{
                                   @extend %dash-invest-btn;
                                }
                            }
                        }
                    }
                    &-return, &-next{
                        @extend %c-arrows;
                        &:hover{
                            opacity: 100%;
                        }
                    }
                    &-return{
                        @extend %c-arrow-left;
                    }
                    &-next{
                        @extend %c-arrow-right;
                    }
                    .glide__slide{
                        filter: blur(6px) grayscale(1);
                        @extend %c-blur;
                        margin-right: 2rem;
                        @media screen and (min-width:650px){
                            width: 220px !important;
                        }
                    }
                    .glide__slide.center{
                        // transform: scale(1.2);
                        background: $dash-fondoWhite65;
                        padding: 2.8rem;
                        margin-right: -4.5rem;
                        margin-left: -3rem;
                        z-index: 10;
                        @extend %c-blur-active;
                        @media screen and (min-width:650px){
                            width: 350px !important;
                        }
                    }
                }
            }
            @media screen and (max-width:1200px){
                margin-bottom: 15rem;
                .glide__slide{
                    margin: 0;
                }
                .glide__slide.center{
                    margin: 0;
            }
        }
        }
        &-box2{
            max-width:540px;
            width: 87%;
            &-title{
                font-size: 1.55rem;
                margin-bottom: 2rem;
                @extend %gbold;
            }
            p{
                font-size: 1.35rem;
                text-align: center;
                margin: 4rem 0 2rem;
                line-height: 20px;
            }
            img{
                max-width: 420px;
                width: 90%;
            }
            .btn{
                padding: 8px 0;
                font-weight: 700;
                @extend %btn1;
            }
            @media screen and (max-width:1200px){
                margin: 4rem 0;
            }
        }
    }
}


// MENU GLOBAL
.menu-lateral-globlal{
    width: 310px;
    &-content{
        background-color:#ffffff;
        min-height: 100vh;
        width: 270px;
        margin-top: 2rem;
        position: fixed;
        z-index: 9999;
        #dash-img-header-logo{
            width: 200px;
            cursor: pointer;
        }
        .dash-header-dashboard{
            font-size: 1.65rem;
            margin-left: 1.5rem;
            @extend %gbold;
            img{
                width:20px;
            }
        }
        &-img-perfil{
            margin: 5rem 0 2rem;
            position: relative;
                img{
                    cursor: pointer;
                }
                #dash_perfil-status{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $dash-status;
                    position: absolute;
                    top: 8rem;
                    left: 7rem;
                    cursor: pointer;
                }
                .dash_perfil-status{
                    background-color: red !important;
                }
        }
        .dash-name-user{
            font-size: 1.4rem;
            margin-bottom: .4rem;
            @extend %gbold;
        }
        .dash-name-rank{
            @extend %gbook;
        }
        .dash-arrow-menu{
            width: 19px;
            height: 19px;
            object-fit: contain;
            transform: rotateZ(-90deg); 
        }
        li{
            display: flex;
        }
        .dash-menu-general{
            width: 100%;
            padding: 0;
            a{
                padding:0 2.3rem;
                align-items: center;
                height: 4rem;
                border: none;
                margin-bottom: 1.5rem;
            }
            .dash-menu-general-link{
                background-color: $dash-menu-color1;
            }
            .dash-menu-general-link-hover{
                .dash-arrow-menu{
                    opacity: 0;
                }
            }
            .dash-menu-general-link-hover:hover {
                background-color: $dash-menu-color1;
                > .dash-arrow-menu{
                    opacity: .5 ;
            }
            }
            
            .icons-menu-general{
                width: 20px;
                height: 20px;
            }
            .dash-menu-general-text{
                transform: translateX(0);
                font-size: 1.4rem;
                letter-spacing: 1px;
                margin-left: 1.5rem;
                transition: all .7s;
                @extend %gbook;
            }
        }
        // position: fixed;
    }
}
.dash-menu-active.menu-lateral-globlal{
    width: 90px;
    position: relative;
    z-index: 1000000000;
    @media screen and (max-width:992px){
        width: 0px;
    }
}
.dash-menu-active .menu-lateral-globlal{
    &-content{
        width: 90px;
        transition: .5s;
        #dash-img-header-logo{
           content: url(../../images/dash-logo.svg);
           width: 45px;
        }
        .dash-notification-invest{
            transform: translate(-5px, 20px);
        }
        &-img-perfil{
            margin: 5rem 0 2rem;
                img{
                    width: 45px;
                }
                #dash_perfil-status{
                    width: 10px;
                    height: 10px;
                    top: 2.7rem;
                    left: 2.7rem;
        }
    }
        .dash-name-user{
            display: none;
        }
        .dash-name-rank{
            display: none;
        }
        .dash-arrow-menu{
            display: none;
        }
        .dash-menu-general{
            .dash-menu-general-link-hover{
                .dash-arrow-menu{
                    display: none;
                }
            }
            }
            .dash-menu-general-text{
                transform: translateX(-200%);
                position: absolute;
                transition: all 0.7s;
            }
        }
        // position: fixed;
    }
@media screen and (max-width:992px){
    .menu-lateral-globlal{
        position: absolute;
        
            &-content{
                width: 265px;
                position: fixed;
                left: -265px;
                margin-top: 6.5rem;
                padding-top: 3rem;
                transition: .5s;
                a{
                    padding: 0 1.5rem;
                }
                #dash-img-header-logo2{
                   width: 80% !important;
                   max-width: 170px;
                }
                &-img-perfil{
                    margin: 5rem 0 2rem;
                        img{
                            width: 100px !important;
                        }
                        #dash_perfil-status{
                            width: 15px  !important;
                            height: 15px  !important;
                            top: 6.4rem  !important;
                            left: 6.5rem  !important;
                }
            }
                .dash-name-user{
                    display: block;
                }
                .dash-name-rank{
                    display: block;
                }
                .dash-arrow-menu{
                    display: block;
                }
                .dash-menu-general{
                    .dash-menu-general-link-hover{
                        .dash-arrow-menu{
                            display: block;
                        }
                    }
                    }
                   
                    .dash-menu-general-text{
                        font-size: 1.15rem !important;
                        transform: translateX(0) !important;
                        opacity: 1;
                        position: relative;
                        transition: all 0.7s;
                        margin-left: 3rem !important;

                    }
                    
                }
            }    
            .dash-menu-active .menu-lateral-globlal{
                

                &-content{
                    width: 265px;
                    left: 0;
                    padding-top: 3rem;
                    transition: .5s;
                    a{
                        padding: 0 1.5rem;
                    }
                    #dash-img-header-logo2{
                       content: url(../../images/logo-header.svg) !important;
                       width: 80% !important;
                       max-width: 170px;
                    }
                    .dash-notification-invest{
                        transform: translate(-40px, 20px);
                    }
                    &-img-perfil{
                        margin: 5rem 0 2rem;
                            img{
                                width: 100px !important;
                            }
                            #dash_perfil-status{
                                width: 15px  !important;
                                height: 15px  !important;
                                top: 6.4rem  !important;
                                left: 6.5rem  !important;
                    }
                }
                    .dash-name-user{
                        display: block;
                    }
                    .dash-name-rank{
                        display: block;
                    }
                    .dash-arrow-menu{
                        display: block;
                    }
                    .dash-menu-general{
                        .dash-menu-general-link-hover{
                            .dash-arrow-menu{
                                display: block;
                            }
                        }
                        }
                       
                        .dash-menu-general-text{
                            font-size: 1.15rem !important;
                            transform: translateX(0) !important;
                            opacity: 1;
                            position: relative;
                            transition: all 0.7s;
                            margin-left: 3rem !important;
    
                        }
                        
                    }
                    
}
}

// FLECHA DEL MENU 
.menu-lateral {
    padding: 0.8rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    transform: translate(15px, 80px) rotateZ(-180deg);
    transition: .5s;
    cursor: pointer;
}
.dash-menu-active .menu-lateral {
    transform: translate(15px, 80px) rotateZ(0deg);
}

@media screen and (max-width:992px){
    .menu-lateral {
        padding: 1rem;
        transform: translate(35px, 80px) rotateZ(0deg);
    }
    .dash-menu-active .menu-lateral {
        transform: translate(15px, 80px) rotateZ(-180deg);
    }
      
}
// end


.dash-change-menu{
    content: url(../../images/close-menu.svg) !important;
}

header{
    position: relative;
    width: 100%;
    background:#fff;
    height: 80px;
    display: flex;
    justify-content: center;
    .dash-change-menu-header.dash-header{
        width: 100%;
        padding: 0 5rem;
        @media screen and (max-width:992px){
            padding: 0 4rem;
        }
       
    }
    .dash-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 3.3rem;
        height: 80px;
        z-index: 100;
        position: fixed;
        background:#fff;
        width: 100%;
        padding: 0 14rem;
        max-width: 1920px;
        @media screen and (max-width:992px){
            padding: 0 4rem;
        }
        @media screen and (max-width:500px){
            padding: 0 1rem;
        }
        &-box1{
            display: flex;
            align-items: center;
            img{
                width: 25px;
                @media screen and (max-width:992px){
                    width: 20px;
                }
            }
           a{
            font-size: 2.5rem;
            margin-left: .7rem;
            @extend %gbold;
            @media screen and (max-width:992px){
                font-size: 2.2rem;
            }
            @media screen and (max-width:350px){
                font-size: 1.8rem;
            }
           }
           .dash-header-open-movil{
            width: 50px;
           }
        }
        &-box2{
            &-btn2{
                display: flex;
                justify-content: center;
                padding: 11px 0px;
                width: 180px;
                @extend %btn1;
                img{
                    width: 20px;
                    margin-right: 1rem;
                }
                @media screen and (max-width:767px){
                    font-size: 1rem;
                    width: 160px;
                }
                span{
                    color: #fff;
                    &:first-child{
                        border-right: 2.3px solid #fff;
                        padding-right: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

.dash-investment-dad{
    width: 100%;
}
.dash-banner-investment{
    background-image: url(../../images/investment-page.png);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 2rem
}

.dash-investment{
    @extend %dashMain;
    .dash-banner-investment{
        padding: 8rem;
        @media screen and(max-width:1640px){
            padding:8rem 5rem;
        }
        @media screen and(max-width:1200px){
            padding:8rem 4rem;
        }
        @media screen and(max-width:767px){
            padding:8rem 2rem;
        }
        &-box1{
            &-feature{
                color: #fff;
                font-size: 2.65rem;
                margin:0;
                @extend %gbold;
                @media screen and(max-width:1640px){
                    font-size: 2.35rem;
                }
                @media screen and(max-width:1355px){
                    font-size: 2.25rem;
                }
                @media screen and(max-width:767px){
                    font-size: 1.9rem;
                    margin-bottom: .5rem;
                }
            }
            &-title{
                color: #fff;
                font-size: 7.5rem;
                margin-top: -0.9rem;
                @extend %gbold;
                @media screen and(max-width:1640px){
                    font-size: 6rem;
                }
                @media screen and(max-width:1355px){
                    font-size: 5rem;
                }
                @media screen and(max-width:767px){
                    font-size: 3.5rem;
                }
                @media screen and(max-width:450px){
                    font-size: 3rem;
                }
            }
            &-btn{
                @media screen and(max-width:450px){
                    margin: auto;
                }
            }
            &-btn-1{
                background-color: transparent;
                color: #fff;
                width: 125px;
                margin-right: 1rem;
                @extend %btn1;
                @media screen and(max-width:450px){
                    margin:0 auto !important;
                }
                @media screen and(max-width:1400px){
                    
                }
            }
            &-btn-2{
                background-color: #fff;
                color:$primary;
                width: 125px;
                @extend %btn1;
                @media screen and(max-width:450px){
                    margin:1.5rem auto 0 !important;
                }

            }
        }
        &-box2{
            p{
                font-size: 1.2rem;
                color: #fff;
                max-width: 540px;
                margin: 2rem 0 0;
                width: 80%;
                text-align: left;
                @media screen and(max-width:767px){
                    margin:0 auto !important;
                    width: 100%;
                }
            }
        }
    }
}

.dash-investment-section-cards{
    &-box{
        position: relative;
        justify-content: center;
        display: flex;
        .sold-investment{
            top: 45%;
            width: 85%;
            color: #fff;
            text-align: center;
            font-size: 2.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            z-index: 1;
            @extend %gbold;
        }
    
        &-item.blur-cards{
            filter: grayscale(1) blur(6px);
            pointer-events: none;
        }
        &-item{
            background-color: $dash-fondoWhite65;
            filter: grayscale(1);
            padding: 2.4rem;
            width: 290px;
            min-width: 230px;
            h4{
                @extend %proposal-title;
                font-size: 1.8rem;
             }
            img{
                width: 100%;
            }
            p{
                margin: 1.7rem 0 2.6rem;
            }
            .dashboard-more-info-btn{
                @extend %dash-more-info-btn;
            }
            .dashboard-invest-btn{
               @extend %dash-invest-btn;
            }
        }
    }
}



// PAGINA DE INVEST
// SECCION 1
.dash-investor{
    @extend %dashMain;
    &-section1{
        &-box1{
            max-width: 600px;
            &-total{
                position: relative;
                max-width: 189px;
                &-title{
                    padding: 6px 0;
                    width: 180px;
                    font-size: 1.8rem;
                    @extend %btn1;
                    span{
                        color: #fff;
                        font-weight: bold;
                        margin-right: .4rem;
                    }
                }
               
            }
            &-boxs{
                margin-top: 2.5rem;
                &-box1,&-box2{
                    @media screen and (max-width:992px){
                        padding: 3rem;
                    }
                    @media screen and (max-width:550px){
                        padding: 1rem;
                    }
                }
                img{
                    max-width: 212px;
                    width: 100%;
                }
                p{
                    max-width: 212px;
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
            }
            &-btn{
                margin-top: 2.6rem;
                a{
                    padding: 6px 0;
                    width: 170px;
                    @extend %btn1;
                }
            }
        }
        &-box2{
            @media screen and (max-width:992px){
               margin-top: 3rem;
            }
            &-grafica{
                max-width: 560px;
                width: 90%;
                background: #fff;
                padding: 0rem 2rem;
                h6{
                    @extend %gbold;
                }
                
                
            }
            

        }
    }
}


// SECCION 2
.dash-investor-section2{
    margin-top: 3.6rem; 
    background-color: #fff;
    &-box1{
        &-boxs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70px;
            h4{
                margin: 0; 
                display: flex;
                align-items: flex-start;
                @extend %gbold;
                img{
                    margin-left: .6rem;
                }
            }
            p{
                margin: 0;
                font-size: 1.9rem;
                text-align: left;
                @extend %gbold;
                    @media screen and (max-width:600px){
                        font-size: 1.6rem;
                    }
            }
            .dash-investor-green-text{
                color: $dash-status;
            }


        }
    }
}

// SECCION 3
.dash-investor-section3{
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 2rem;
    &-box1{
        h2{
            @extend %title1;
            @media screen and (max-width:600px){
                        font-size: 2.5rem;
            }
            @media screen and (max-width:550px){
                        font-size: 2.2rem;
            }
        }
    }
    &-box2{
        img{
            filter: grayscale(1);
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
}

// <!-- BARRA DE PROGRESO-->

.dash-investor-barra-progress{
    &-content{
        background-color: #fff;
        border-radius: 1.15rem;
        height: 55px;
        margin-top: 4.5rem;
        .barra-progress{
            width: 30%;
            height: 100%;
            background-color: $dash-status;
            border-radius: 1.15rem 0 0 1.15rem;
        }
        .barra-progress-number{
            margin: 1rem 0 1rem 1.5rem;
            @extend %title1;
        }
    }
    &-texto{
            margin-top: 3.5rem;
        &-content{
            h4{
                font-size: 2.2rem;
                @extend %gbold;
            }
            p{
                max-width: 400px;
                font-size: 1.2rem;
                line-height: 17px;
                text-align: center;
                
            }
        }
    }
}


// PAGINA DE INFO MORE
.dash-banner-more-info{
    background-image: url(../../images/portfolio3.png);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    filter: grayscale(1);
    color: #fff;
    border-radius: 2rem;
    padding: 10rem 0;
    h3{
        color: #fff;
        font-size: 7.5rem;
        margin: 0;
        @extend %gbold;
        @media screen and(max-width:767px){
            font-size: 3.5rem;
        }           
    }
}
.dash-more-info-arrows{
    img{
        object-fit: contain;
        width: 17px;
    }
    .dash-arrow-left{
        transform: rotate(90deg);
    }
    .dash-arrow-right{
        transform: rotate(-90deg);
    }
    span{
        @extend %gbold;
    }
}
.list-transactions-history{
    background-color: $dash-fondoWhite65;
}
.dash-transactions{
    padding: 0 4rem 2.5rem;
    margin-top: 4rem;
    @media screen and (max-width:550px){
        padding: 2.5rem 1rem;

    }
    &-title{
        display: flex;
        align-items: center;
        height: 65px;
        h4{
            margin: 0;
            @extend %gbold; 
        }
        #view-more-button{
            right: 0;
            transform: translateX(-30px);   
        }
    }
    &-view{
        background-color: #fff;
        padding: 1rem 4rem;
        a{
            text-transform: uppercase;
            @extend %gbold; 

        }
    }
}
.tables{
    max-width: 1720px;
    & > table{
        width: 100%;
        font-size: 11px;
        & > tbody > tr:first-child{
            background-color: #fff;
            padding: 1rem;
            border-radius: 1.2rem;
        }
            & > tbody > tr{
                display: grid;
                grid-template-columns: repeat(4, calc(100% / 4) );
                justify-content: space-between;
                margin-bottom: 40px;
                align-items: center;

                & > th:first-child {
                    max-width: 260px;
               }
                 & > th {
                    display: flex;
                    justify-content: center;
                    font-size: .85rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                td:first-child {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    img{
                        margin-right: 1.4rem;
                    }
                    @media screen and (max-width:1200px){
                        img{
                           display: none; 
                        }
                    }
                    @media screen and (max-width:500px){
                        font-size: 1rem;
                    }
                }
                td {
                    justify-content: center;
                    display: flex;
                    @extend %gbook;
                }
                .dash-status-trasactions-1{
                    span{
                        color: $dash-status;
                        padding: 0.5rem 2rem;
                        border-radius: 0.6rem;
                        background-color: $dash-status-1-10;
                    }
                }
                .dash-status-trasactions-2{
                    span{
                        color: $dash-status2;
                        padding: 0.5rem 2rem;
                        border-radius: 0.6rem;
                        background-color: $dash-status2-10;
                    }
                }
                .dash-status-trasactions-3{
                    span{
                        color: $dash-status3;
                        padding: 0.5rem 2rem;
                        border-radius: 0.6rem;
                        background-color: $dash-status3-10;
                    }
                }
    }
}
}
@media screen and (max-width:1200px){
    .tables > table > tbody > tr {  
        display: grid;
        grid-template-columns: 100%;
        max-width: 550px;
        margin: 0 auto;
        justify-content: center;

    }
    .tables th{
        display: none !important;
    }.tables td{
        display: block !important;
        text-align: right !important;
    }
        .tables td:last-child{
        border-bottom: 1px solid red !important;
        }
    .tables td::before{
        content: attr(data-label);
        float: left;
    }

}

.dash-more-info-section1{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    &-box1{
        max-width: 48%;
        background: #fff;
        border-radius: 1rem;
        padding: 2rem 3rem;
        @media screen and(max-width:1200px){
            margin-top: 3.5rem;
            max-width: 100%;
        }
        &-grafica{
            max-width: 450px;
            min-width: 350px;
            margin: auto;
            padding: 2.5rem 0rem 2rem;
            @media screen and(max-width:650px){
                flex-direction: column !important;
                align-items: center;
                min-width: 100%;
                max-width: 320px;
            }
            .grafica-title-dash{
                margin-top: 22%;
                transform: translateX(-55px);
                text-align: center;
                @media screen and(max-width:650px){
                    margin-top: -31%;
                    transform: translateX(0px);
                }
                @media screen and(max-width:450px){
                    margin-top: -50%;
                    transform: translateX(0px);
                }
                 
                h3{
                    color: #171725;
                    font-size: 3.2rem;
                    @extend %gbold;
                    @media screen and(max-width:650px){
                        font-size: 2.2rem;
                    }
                    
                }
                p{
                    @extend %gbook;
                    @media screen and(max-width:650px){
                        font-size: .9rem;
                    }
                }
                
            }
            #data-status-dash{
                padding: 0;
                width: 125px;
                @media screen and(max-width:1600px){
                    transform: translateX(-50px);
                }
                @media screen and(max-width:1200px){
                    transform: translateX(0px);
                }
                @media screen and(max-width:650px){
                    margin-top: 4rem;
                }
                
                &-blue{
                    background-color: #0062FF;
                }
                &-green{
                    background-color: #3DD598;
                }
                &-orange{
                    background-color: #FF974A;
                }
                &-yellow{
                    background-color: #FFC542;
                }
                li{
                    display: flex;
                    align-items: center;
                    @extend %gbook;
                    div{
                        width: 10px;
                        height: 10px;
                        border-radius: 5px;
                        margin-right: .8rem;
                    }
                    span{
                        font-weight: bold;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
    &-box2{
        max-width: 48%;
        background: #fff;
        border-radius: 1rem;
        padding: 2rem 1rem;
        @media screen and(max-width:1200px){
            margin-top: 3.5rem;
            max-width: 100%;
        }
        &-grafica{
            max-width: 400px;
            width: 90%;
            margin: auto;
        }
    }
}
.dash-more-info-section2{
    &-box1{
        p{
            font-size: 1.2rem;
            line-height: 17px;  
            max-width: 490px;
        }
        a{
            max-width: 490px;
            margin-top: 1.6rem;
            margin-right: auto;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %btn1;
            @media screen and (max-width:992px){
                margin:2rem auto 3rem;
            }
            img{
                margin-right: .6rem;
            }
        }
    }
    &-box2{
        video{
            width: 100%;
        }
    }
}

// PAGINA DE INVEST
.row.dash-invest-content-all{

    justify-content:end;
    @media screen and (max-width:1400px){
    justify-content: center;
}

}
.dash-invest{
    background-color: $dash-fondoWhite65;
    display: flex;
    align-items: center;
    min-width: 680px;
    @media screen and (max-width:1200px){
        min-width: 300px;
    }
    &-organic{
        h3{
            font-size: 2.5rem;
            @extend %gbold;
        }
    }
    & > img{
        position: absolute ;
        left: 0;
        transform: translateX(-260px);
        width: 70%;
        max-width: 410px;
        filter: grayscale(1);
        @media screen and (max-width:1680px){
            transform: translateX(-240px);
            max-width: 350px;
        }
        @media screen and (max-width:1400px){
            transform: translateX(0px);
            position: relative;
            max-width: 100%;
            width: 100%;
            height: 300px;
            border-radius: 2rem;
            object-fit: cover;
        }
    }
    &-content{
        width: 75%;
        margin-left: auto;
        padding: 3rem 4rem 3rem 0;
        @media screen and (max-width:1200px){
            margin:2rem auto;
            width: 100%;
            max-width: 600px;
            padding: 0rem;

        }
        &-all{
           
        }
        h3{
            font-size: 2.2rem;
            @extend %gbold;

        }
        &-info{
            font-size: 1.2rem;
            line-height: 17px;
        }
        &-data{
            @extend %gbook;
            span{
                font-weight: bold;
            }
        }
        .mint-set-dash-invest{
            border: 1px solid $border2;
            border-radius: .5rem;
            padding:0.6rem 0.6rem 0.6rem 1rem;

            &-box1{
                width: 90px;
                span{
                    @extend %gbold;
                }
            }
            &-box2{
                a{
                    text-transform: uppercase;
                    width: 125px;
                    padding: 9px 0;
                    @extend %btn1;
                }
            }
        }
        .mint-set-dash-invest2{
            border: 1px solid $border2;
            border-radius: .5rem;
            padding:.5rem;
            margin-top: 1.4rem;
            margin-bottom: .7rem;
            &-box1{
                select {
                    width: 100%;
                    height: 40px;
                    font-size: 1.65rem;  
                    border: none;
                    @extend %gbook;
                    @media screen and (max-width:600px){
                    font-size: 1.40rem;  
                    }
                }
            }
        }
        .total-mint-dash-invest-1{
            @extend %gbook;
            margin: 0;
        }
        hr{
            margin-top: 0.7rem;
        }
        .dash-btn-mint{
            margin: 2.8rem auto;
            display: flex;
            justify-content: center;
            width:200px;
            padding: 8px 0;
            @extend %btn1;
        }
    }
}
// PAGINA DE PERFIL Y SEGURIDAD
.dash-btn-perfil{
    a{
        width: 155px;
        font-size: 1.6rem;
        font-weight: bold;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 40px;
        padding: 7px 1.5rem;
        margin-right: 1.2rem;
        outline: none;
        border-radius: 0.7rem 0.7rem 0 0;
        @extend %btn1;
    }
    .dash-btn-perfil-1{
        color: $primary;
        background-color: #fff;
        
    }
    .dash-btn-security-1{
        img{
            filter: invert(1);
        }
    }
    .dash-btn-security-2{
        color: $primary;
        background-color: #fff;
        img{
            filter: invert(1);
        }
    }
    .dash-btn-perfil-2:hover{
        color: $primary;
        background-color: #fff;
            img{
                filter: invert(1);
            }
    }
    .dash-btn-security-1:hover{
        color: $primary;
        background-color: #fff;
        img{
            filter: invert(0);
        }
    }
    &-content{
            background-color: #fff;
            padding: 1.5rem;
            label{
                margin-bottom: 1rem;
                @extend %gbold;
            }
            input{
                height: 40px;
                margin-bottom: 1.5rem;
                font-size: 1.25rem;
                border: none;
                background-color: $dash-fondo;
            }
            input::placeholder{
                opacity: .5;
            }
            .dash-btn-confirm {
                width: 115px;
                margin-top: 1rem;
                @extend %btn1;
            }
    }
}
