@import "./custom";


.menu-header{
    content: url("../images/open-menu.svg");
    transition: all .5s;
    width: 60px !important;
    transform: translateY(-10px);
}
.active-menu .menu-header {
    content: url("../images/close-menu.svg");
    transition: all .5s;
}
.container-fluid.header-general.active-menu {
    margin-top: 2rem;
    margin-bottom: 18rem;
}
.active-menu .header-container{
    border-bottom:0px solid $border2;
    &-box2, &-box3{
        background-color: #fff;
        li{
            text-align: center !important;
        }
    }
    &-box3{
        padding-bottom: 2rem;
    }
    
}
.header-container{
    position: relative;
    z-index: 50;
    height: 109px;
    border-bottom:1px solid $border2;
    img{
        cursor: pointer;
    }
    padding: 0 90px;
    @media screen and (max-width:1500px){
    padding: 0 30px;    
    }
    &-box1{
        flex-direction: row-reverse !important;
        display: flex;
        img{
            max-width: 200px;
            width: 100%;
        }
    }
   
    &-box2{
    

        .menu-general{
            max-width: 650px;
            width: 100%;
            margin: auto;
            cursor: pointer;
            @media screen and (max-width:992px){
                line-height: 3rem;
                }
            li{
                @extend %gbook;
            }
        }
        .dropdown-menu-li-2{
            
            li{
                font-size: 1rem;
                padding-left: 1rem !important;
            }
        }
    }
    &-box3{
    
        .dropdowm-menu-languaje{
           
            li:first-child{
             

            }
              a{
                @extend %gbold;
               }
            #header-wallet{
                @extend %btn1;
                padding: 10px 0;
                width: 180px;
                text-align: center;
                a{
                    @extend %gbook;
                    color:#fff;
                }
                @media screen and (max-width:1100px){
                    width: 140px;
                    a{
                        font-size: .9rem;
                    }
                    }
                    @media screen and (max-width:992px){
                        padding: 4px 0;
                        margin-top: 2rem !important;
                        width: 155px;
                        a{
                            font-size: 1rem;
                        }
                        }

            }
            @media screen and (max-width:992px){
                li{
                    margin: 0 !important;
                    line-height: 3rem;

                }
                }
        }
    }
}

#sub-menu-1-li ul,#sub-menu-2-li ul,#sub-menu-3-li ul{
    display: none;
}

@media screen and (max-width:992px){
    .header-container-box2, .header-container-box3{
        display: none;
    }
}
.active-menu{
    .header-container-box2{
        display: block;
    }
    .header-container-box3{
        display: block;

    }
}
%dropdown-sub{
    display: block;
    position: absolute;
    width: 173px;
    background: #fff;
    padding-top: 1rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    li{
        margin-bottom: 1rem;
        padding: .7rem 0;
        cursor: pointer;
        text-align: left;
    }
    li:hover{
        background: $primary;
        color: #fff;

        a{
            color: #fff;
        }
    }
    @media screen and (max-width:992px){
        position: relative;
        padding-top: 0rem;
        li{
            margin-bottom: 0;
            text-align: left;
        }
    }
}
.active-sub#sub-menu-1-li ul, .active-sub#sub-menu-2-li ul,.active-sub#sub-menu-3-li ul{
    @extend %dropdown-sub;
}
.active-sub#sub-menu-3-li ul{
    @extend %dropdown-sub;
    width: 80px;
    li{
        padding-left: 1rem;
        text-align: left;
    }

}





.hr-footer{
    height: 1px;
    background: #fff;
    opacity: 1;

}

.footer-form{
    @extend %max-width-1;
    margin:-5rem auto 9rem !important;
    &-title{
        @extend %title1;
        @media screen and (max-width:767px){
             margin-top: 0;
             width: 75%;
             
        }
    }
    &-description{
        max-width: 405px;
        &-form{
            font-size: 0.8rem;
            margin-top: 15px;
            max-width: 350px;
            width: 75%;
            text-align: center;
        }
        @media screen and (max-width:767px){
            margin:2rem 0; 
            &-form{
                margin-top: 2.2rem;
                max-width: 500px;     
            }
        }
        
    }
    #email-home{
        width: 330px;
        padding: 6px 15px;
        margin-right: 0.4rem;
        
        @media screen and (max-width:580px){
            width: 100%;
            margin: 1.7rem 0;
       }
    }
    #email-home:placeholder{
        color: $primary-50;
    }
    .send-email{
        @extend %btn1;
        @media screen and (max-width:580px){
            padding:7px 0;
       }
    }
}
.footer-section-all{
    padding: 40rem 0 5rem;
    margin-top: -33rem;
    @media screen and (max-width:1100px){
        padding: 25rem 0 11rem;
        margin-top: -21rem;
    }
    @media screen and (max-width:700px){
        padding: 20rem 0 11rem;
        margin-top: -11rem;
    } 
}
.footer{
    margin-top: -8rem !important;
    max-width: 1470px;
    width: 90%;
    &-bg{
        &-img{
            width: 100%;
        }
    }
    & > div {
        color:#fff;
        ul{
            padding: 0;
            margin: 0;
            @extend %gbook;
            li{
                text-align: left;
                color:#fff;
                line-height: 25px;
                
                 }  
        }
        h5{
            @extend %gbold;
            text-align: left;
            margin-bottom: 2.5rem;
            
        }
    }
    &-box3{
        .socials-redes{
            
            @media screen and (max-width:992px){
                display: flex;
                justify-content: space-around;
                max-width: 420px;
                margin:3rem auto 0;
            }
            @media screen and (max-width:767px){
                margin:0 auto;
            }
            img{
                margin-right: 1rem;
                height: 20px;
                width: 20px;
            }
        }
    }
    .footer-copyright{
        margin-top: 3rem;
        h5{
            color: #fff;
            text-align: center;
            @extend %glite;
            @media screen and (max-width:767px){
                text-align: start;

            }
        }
    }
}
