@import "./custom";

.img-x-general {
    width: 100px;
}
.banner{
    width: 100%;
    padding:0;
}
.hr-v1{
    width: 70px;
    background-color: #3A3A3A;
    border-radius: 15px;
    border: 3.7px solid #3A3A3A;
    opacity: 1;
    margin: 10rem auto 16rem;
    @media screen and (max-width:992px){
            margin: 3rem auto 7rem;
            width: 110px;

    }

    &-div{
        width: 100%;
    }
}

.x-banner-home img {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: -314px;
    left: -33px;
      @media screen and (max-width:1400px){
        max-width: 400px;
        top: -225px;
    }
}
.x-banner-invest img {
    width: 550px;
    right: 0;
    top: 205px;
    position: absolute;
    @media screen and (max-width:1400px){
        top: 260px;
        width: 450px;
    }
    @media screen and (max-width:1000px){
        top: 280px;
        width: 350px;
    }
    @media screen and (max-width:767px){
        width: 100%;
        max-width: 250px;
        top: 320px;
    }
    @media screen and (max-width:767px){
        max-width: 180px;
        top: 340px;
    }
}
//CADA SECCION SE DIVIDE POR "SECTION + Numero" Y ASI SUCESIVAMENTE...
.home-section-1{
    margin-bottom: 11rem;
    &-box2{
        @extend %max-width-m;
        position: relative;
        z-index: 50;
    }
    &-title{
        @extend %title1;
        text-align: center;
    }
    &-description{
        max-width: 800px;
        text-align: center;
        font-size: 1.1rem;
    }
    &-arrow-bottom{
        width: 30px;
        margin-top: 10px;
    }
    &-arrow-bottom-movil{
        width: 70px;
        margin-top: 10px;
    }
}
@media screen and (max-width:992px){
    .home-section-1{
        margin-bottom: 5rem;
        &-title{
            margin: 2rem 0;
        }
    }
 }


 .home-read-more-active{
    display: block !important;
 }
 .read-mode-home-active-load{
    img{
        transform: rotateZ(180deg);
    }
 }
.home-section-2{
    margin-bottom: 13rem;
    &-box1{
        @extend %bg-image1;
        @extend %max-width-m;
        background-position-x: 5px;
        padding-right: 5rem;
        img{
            width: 100%;
            max-width: 520px;
            transform: translateY(-15px);
        }
    }
    &-box2{
        @extend %max-width-m;
        padding-left: 5rem;
        &-title{
            @extend %title2;
            margin-top: 1rem;
            max-width: 450px;
        }
        &-description{
            width: 80%;
            max-width: 520px;
            @extend %descriptions-1;
        }
        &-btn{
            background-color: transparent;
            color: $primary;
            border: 1.5px solid $border3;
            @extend %btn1;
            img{
                transition: all .4s;
                margin-left: .3rem;
            }
        }
        &-btn:hover > img {
            filter: invert(0);
        }
    }
    @media screen and (max-width:1000px){
        margin-bottom: 9rem;
        &-box1{
            padding: 0;
            margin-top: 6rem;
        }
        &-box2{
         padding: 0;
            &-description{
                margin-top: 2.5rem;
            }
        }
        
    
     }
}
.home-section-3{
    overflow: hidden;
    @extend %max-width-1;
    width: 95%;
    &-parrafo{
        max-width: 800px;
        text-align: center;
        margin: 0 auto 3rem;
        font-weight: bold;
        font-size: 1.3rem;
        @extend %descriptions-1;
    }
    .carousel_container{
        margin-top: 1.8rem;
        position: relative;
        &-list{
            overflow: hidden;
                &-item{
                    @extend %c-item;
                }
        }
        &-return, &-next{
            @extend %c-arrows;
        }
         &-return:hover, &-next:hover{
            opacity: 100%
        }
        &-return{
            @extend %c-arrow-left;
        }
        &-next{
            @extend %c-arrow-right;
        }
    }
    .carousel_container::before, .carousel_container::after{
        content: " ";
        position: absolute;
        z-index: 1;
        width: 500px;
        height: 100%;
        top: 0;
    }
    .carousel_container::before{
        left: 0;
        background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
    .carousel_container::after{
        right: 0;
        background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%)
    }
    .glide__slide{
        @extend %c-blur;
    }
    .glide__slide.center{
        @extend %c-blur-active;
    }
    
    @media screen and (max-width: 992px) {
        .contenido-principal {
            flex-direction: column;
        }
        .contenido-principal > * {
            width: 100%;
        }
        .carousel_container::before, .carousel_container::after{
            width: 0px;
        }
        &-title{
            font-size: 2rem
        }
        
    }

}
.home-section-4{
   @extend %max-width-1;
   margin-top: 5rem;
    &-box1{
        &-title{
            @extend %title2;
            &-movil{
                @extend %title2;

            }
        }
        .subtitle{
            letter-spacing: 3.6px;
            margin: 3.5rem 0;
            @extend %subtitle;
            }
        &-description{
            @extend %descriptions-1;
            margin-top: 35px;
            margin-bottom: 35px;
            max-width: 650px;

        }
        &-btn{
            @extend %btn1;
            margin-bottom: 60px;
        }
        &-title-div-titles{
            & > div {
                max-width: 225px;
                padding-right: 15px;
                text-align: center;
                @media screen and (max-width:767px){
                    max-width: 100%;
                    img{
                        margin: 2rem 0
                    }
                 }
            }
            h3{
                @extend %title3;
                margin:7px;
            }
            img{
                width: 95px;
                height: 80px;
            }
        }
    }

    &-box2{
        @extend %bg-image1;
        background-position-y: 270px;
        img{
            max-width:650px; 
            width: 100%;
            transform: translateY(-110px) rotateZ(8deg);
            object-fit: contain;
            @media screen and (max-width:1200px){
                width: 80% !important;
            }
        }
    }
    @media screen and (max-width:1200px){
        &-box2{
            img{
                max-width:450px; 
                width: 100%;
                transform: translateY(0px);
            }
        }
    }
    @media screen and (max-width:992px){
        &-box2{
            img{
                margin: -.7rem auto 2rem;
            }
        }
    }

     .carousel_container-section4 {
        margin-top: 1.8rem;
        position: relative;
        &-list{
            overflow: hidden;
                &-item{
                     padding: 0 3rem;

                    @extend %c-item;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                    h3{
                        font-size: 2rem !important;
                    }
                    p{
                        max-width: 340px;
                        margin-top: 2rem;
                        @extend %descriptions-1;
                    }
                    
                }
        }
        &-return, &-next{
            @extend %c-arrows;
        }
         &-return:hover, &-next:hover{
            opacity: 100%
        }
        &-return{
           left: 15px;
        }
        &-next{
            right: 15px;
        }
    }
    .glide__slide{
        @extend %c-blur;
    }
    .glide__slide.center{
        @extend %c-blur-active;
    }
    
    @media screen and (max-width: 800px) {
        body {
            padding: 40px 0;
        }
    
        .contenido-principal {
            flex-direction: column;
        }
    
        .contenido-principal > * {
            width: 100%;
        }
    }
    .c-features-subtitle{
        @extend %gbold;
        font-size: 2.2rem;
        margin-left: 1.6rem;
        letter-spacing: 1px;
     }
    
}

.home-section-5{
    @extend %max-width-1;
    @extend %max-width-m;

    &-box1{
        @extend %bg-image1;
        background-position-y: 120px;
        background-position-x: -140px;
        img{
            max-width: 650px;
            object-fit: contain;
            width: 100%;
            min-width: 400px;
        }
        @media screen and (max-width:992px){
            img{
                max-width: 380px;
                width: 95%;
            }
            padding: 2rem;
        }
        @media screen and (max-width:767px){
            img{
                min-width: 300px;
            }
            
        }
        
    }
    &-box2{
        
        &-title{
            @extend %title2;
        }
        .subtitle{
            @extend %subtitle;
            letter-spacing: 3.6px;
        }
        // home-section-4-box1-title-div-titles
        &-title-div-titles{
                margin-top: 2.5rem;
            &-boxs{
                
                max-width: 350px;
                h3{
                    @extend %title3;
                    margin: 1.1rem 0;
                }
            }            
            .img{
                width: 130px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 1.2rem 0;
            }
            img{
                width: 95px;
                height: 80px;
            }
        }
    }
}

.home-section-5-title-section{
    margin-top: 2rem;
    &-all{
        width: 100%;
    }
    .how-does-pc{
        max-width: 1100px;
        width: 90%;
        margin-left: auto;
    }
    .arrow-right{
        width: 260px;
        margin-top: 13rem;
        margin-left: auto;
        margin-right: 12rem;
    }
    a{
        text-align: end;
    }
    .hr-v1{
        margin-top: 5rem;
        margin-bottom: 0;
    }
    
}


.home-section-5-movil-carousel{
    background-image: url("../images/bg-section-carousel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 3rem 6rem;
    overflow: hidden;    
    
    &-title{
        @extend %title2;

    }
    .carousel_container-section5{
    transform: translateY(20px);

    &-list{
    overflow: hidden;
        &-item{
            &-boxs{
                padding: 8rem 0;
                max-width: 300px;
                margin: 4rem auto 5rem;
                border-radius: 1.2rem;
                box-shadow: 0px 0px 40px #00000050;
                h3{
                    @extend %gbook;
                    font-size: 2.2rem;
                    margin-top: 1.55rem;
                    margin-bottom: 3.5rem;
                }
                p{
                    padding: 0 2rem;
                    margin-bottom: 3.5rem;
                }
                .home-section-5-c-btn{
                    @extend %btn1;
                    padding: 9px 26px;
                    width: 150px;
                    border-radius: 5px;
                }
            }
        }
    }
        &-return, &-next{
            @extend %c-arrows;
            position: relative;
            top: auto;
                img{
                    width: 17px;
                }
        }
         &-return:hover, &-next:hover{
            opacity: 100%;
            
        }
        &-return{
           left: -23px;
        }
        &-next{
            right: -23px;
        }


    }
}

.home-section-6{
    @extend %max-width-1;

    margin-top: 10rem;
    &-box1{
    @extend %max-width-m;

        &-title{
            @extend %title2;
        }
        &-description{
            @extend %descriptions-1;
            max-width: 440px;
        }
        &-btn{
            @extend %btn1;
            margin-bottom: 60px;
        }
    }
    &-video{
        background-position: 180px;
        background-position-y: top;
        max-width: 768px;
        margin: auto;
        @extend %bg-image1;
        &-title-movil{
            @extend %title2;
            @extend %max-width-m;

        }
        video{
            width: 100%;
            height: 66%;
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
        }
        @media screen and (max-width:992px){
            padding: 0;
            video{
                padding: 0;
                max-width: 600px;
                height: auto;
                margin: 60px auto;
            }
        }
    }
}


.home-section-7{
    @extend %max-width-1;
    margin-top: 5rem;
    &-box1{
        img{
            width: 100%;
            max-width: 560px;
            @media screen and (max-width:992px){
                width: 90%;
                margin-bottom: 5rem;
                margin: 7rem 0;
             }
        }
    }
    &-box2{
        &-x{
            position: absolute;
            transform: translateY(-560px);
            right: 0;
            width: 600px;
        }
        &-title{
            position:relative;
            z-index:50;
            @extend %title2;
            @media screen and (max-width:992px){
                width: 90%;
             }
        }
        &-description{
            position:relative;
            z-index:50;
            @extend %max-width-m;
            @extend %descriptions-1;
            padding-left: .6rem
        }
        &-download-app a{
            @extend %btn1;
            @extend %gbold;
            font-weight: 700;
            font-size: 1rem;
            padding: 10.5px 9px;
            width: 160px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 2rem;
            img{
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
            @media screen and (max-width:992px){
                margin-right: 0px;
                margin:1rem 0
             }
        }
        @media screen and (max-width:767px){
            padding-left: 0rem;
         }
        
    }
}

//PAGINA--2
// ABOUT US 
.about-section-1{
    @extend %max-width-1;
    max-width: 1300px;
    &-box1{
        &-title{
            @extend %title2;
            margin-top: 1rem;
            max-width: 355px;
        }
        &-description{
            max-width: 485px;
            @extend %descriptions-1;
        }
    }
    &-box2{
        @extend %bg-image1;
        background-position: center;
        background-position-x: 175px;
        background-size: 85%;
        img{
            width: 100%;
            max-width: 650px;
        }
    }
     &-box3{
        margin: 3rem 0 7rem;
       
    }
}
.about-section-2{
    &-all{
        max-width: 1300px;
        margin: -6rem auto 0;
        h6{
            font-size: 1.6rem;
            @extend %gbold;
        }
        .p-book{
            &:first-child{
                max-width: 650px;

            }
            @extend %gbook;
            text-align: start !important;
            @media screen and(max-width:767px){
                max-width: 500px;
                margin: auto;
                margin-bottom: 2rem;
            }
        }
    }
    &-title{
        @extend %title1;
        text-align: center;
    }
    
}
.carousel_containerTres{
    @extend %max-width-1;
    margin-top: 1.8rem;
    position: relative;
    &-list{
        overflow: hidden;
        &-item{
            filter: grayscale(1);
            transition: .5s all;
            @extend %c-item;
            &-name{
                @extend %gbook;
                margin: 2rem;
                font-size: 2.25rem;
            }
            &-subtitle{
                font-size: 1.2rem;
                letter-spacing: 1px;
                margin-bottom: 3rem;
            }
            &-parrafo{
                text-align: center;
                max-width: 300px;
                width: 90%;
            }
        }
        &-item:hover{
            filter: none;
        }
    }
    &-return, &-next{
        @extend %c-arrows;
    }
     &-return:hover, &-next:hover{
        opacity: 100%
    }
    &-return{
        @extend %c-arrow-left;
    }
    &-next{
        @extend %c-arrow-right;
    }
}
.about-section-3{
    max-width: 1350px;
    margin: auto;
    position: relative;
    transition: all .5s;
    &-x{
        position: absolute;
        pointer-events: none;
        width: 500px;
        left: 0;
        transform: translateY(-365px);
        @media screen and (max-width:992px){
            display: none;
        }
    }
    &-title{
        @extend %title2;
        text-align: center;
        position: relative;
        z-index: 500;
    }
    
    &-carousel{
        margin-top: 9rem;
        padding: 0 3rem;
        
        .parrafo-about-section3-carousel{
            max-width: 320px;
            align-items: center;
            display: flex;
            @extend %gbook;
            @media screen and (max-width:1200px){
                max-width: 520px;
                margin:0 auto 3rem;
            }
        }
        &-list{
            overflow-x: hidden;
            height: 515px;
            &-item-boxs{
                width: 350px !important;
                margin: auto;
                box-shadow: 36px 23px 49px -32px #00000031;
                border-radius: 1rem;
                &-partner{
                    .partner{      
                        height: 1px;
                        background: $primary-50;
                        width: 26px;
                    }
                    h5{
                        margin: 0 1rem;
                        color: $primary-50;
                    }
                }
                &-title{
                    font-size: 2.5rem;
                    letter-spacing: 1px;
                    color: $primary-80;
                }
        
                &-parrafo1{
                    font-size: 0.9rem;
                    color: $primary-50;
                }
        
                &-parrafo2{
                    text-align: center;
                    font-size: 1.2rem;
                    max-width: 220px;
                    width: 90%;
                    margin-top: 2rem;
                }
            }
        }
        &-return, &-next{
            @extend %c-arrows;
            top: calc(50% - -75px);
        }
         &-return:hover, &-next:hover{
            opacity: 100%
        }
        &-return{
            left:365px;
            @media screen and (max-width:1200px){
                left:0;
            }
        }
        &-next{
            @extend %c-arrow-right;

        }
        .about-section-3-carousel-list-item-boxs{
            padding: 2rem 0;

        }

    }
    &-btn{
        @extend %btn1;
    }
    .hr-v1.about-us {
        margin: 12rem auto 16rem;
    }  
}






// Grow Crypto

.grow-section-1{
    @extend %max-width-1;
    max-width: 1300px;
    &-box1{
        max-width: 800px;
        &-title{
            @extend %title2;
            margin-top: 1rem;
        }
        &-description{
            @extend %title1;
            max-width: 630px;
            margin-top: 2.5rem;
            font-size: 3.5rem;
            font-weight: normal;
            line-height: 4rem;
        }
        &-description2{
            @extend %gbook;
            max-width: 600px;
            margin-top: 2.5rem;
            font-size: 2rem;
            line-height: 2.5rem;
        }
        @media screen and (max-width:992px){
            &-description{
                margin: 1.5rem auto 0;
                line-height: 2.3rem;
                font-size: 1.9rem;
            }
            &-description2{
                margin: 1.5rem auto 8rem;
                line-height: 2.3rem;
                font-size: 1.7rem;
            }
        }
        
    }
}
// TAMAÑO CARRUSEL pagina 3, Como lo rote a 90 grados el heigth afecta como el width
%widthC-3{
    max-height: 380px !important;
    height: 100%;
}

.carousel_containerFour{
    max-width: 1300px;
    margin-top: 1.8rem;
    position: relative;
    width: 100%;
    @media screen and (max-width:380px){
        width: 300px;
    }
    .glider-track {
        @extend %widthC-3;
    }
    &-list{
        max-width:370px !important;
        width: 100%;
        @extend %widthC-3;
        overflow: hidden;
        transition: all .0;
        transform: rotate(90deg) !important;
        &-item{
            transition: all .0;
            transform: rotate(-90deg) !important;
            padding: 0rem 2rem;
            border-radius: 1rem;
            background-color: #fff;
            box-shadow: 36px 23px 49px -32px #00000031;
            min-width: 330px !important;
            min-height: 320px !important;
            margin: auto;
            @extend %c-item;
            &-name{
                @extend %gbook;
                margin: 2rem;
                font-size: 1.5rem;
            }
            &-parrafo{
                text-align: center;
                max-width: 300px;
                width: 90%;
            }
        }
        &-item:hover{
            filter: none;
        }
    }
    &-return, &-next{
        @extend %c-arrows;
        width: 100%;

    }
     &-return:hover, &-next:hover{
        opacity: 100%
    }
    &-return{
        top: -4rem;
        transform: rotate(90deg);
        @media screen and (max-width:380px){
            top: -4rem;

        }
    }
    &-next{
        transform: rotate(90deg);
        margin-top: 20rem;
    }
}

.grow-section-2{
    @extend %max-width-m;
    @extend %max-width-1;
    margin-top: 10rem;
    max-width: 1300px;
    &-box1{
        @extend %bg-image1;
        background-position-y: 172px;
        background-size: contain;
        img{
            width: 100%;
            max-width: 440px;
        }
    }
    &-box2{
        max-width: 800px;
        padding-left: 11rem;
        &-title{
            @extend %title1;
            max-width: 500px;
        }
        &-description{
            @extend %descriptions-1;
            max-width: 387px;
            margin-top: 2rem;
        }
        &-btn{
            @extend %btn1;
        }
        @media screen and (max-width:992px){
            padding-left: 6rem;
            &-title{
                text-align: left;
            }
            &-description{
               text-align: left;
            }
            
        }
        @media screen and (max-width:767px){
            padding-left: 0;
            &-title{
                text-align: center;
                margin: auto;
            }
            &-description{
                text-align: center;
             }
            &-btn{
                margin: auto;
            }
        }
    }
}


//PAGINA DE PORTAFOLIO 

.portfolio{
    &-section-1{
        @extend %max-width-1;
        @media screen and (max-width:767px){
            width: 100%;
            padding: 0;
        }
        &-video{
            @extend %bg-image1;
            background-position-x: 0;
            background-position-y: top;
            background-size: 700px;
            display: flex;
            justify-content: end;
            align-items: baseline;
            &-title-movil{
                @extend %title2;
                @extend %max-width-m;
                font-size: 3.8rem;
            }
            video{
                width: 87%;
                display: flex;
                margin-top: 60px;
                max-width: 600px;
            }
            @media screen and (max-width:992px){
                padding: 0;
                video{
                    max-width: 500px;
                    width:75%;
                    display: flex;
                    margin-top: 60px;
                }
            }
            @media screen and (max-width:767px){
                &-title-movil{
                    font-size: 3rem;
                    width: 100%;
                }
                video{
                    width:100%;
                }
            }
        }
        &-box2{
            max-width: 500px;
            margin: auto;
            &-title{
                @extend %title2;
                margin-top: 1rem;
                margin-bottom: 3.5rem;
                max-width: 630px;
            }
            &-description{
                @extend %descriptions-1;
            }
            &-icons{
                img{
                    height: 100px;
                    width: 70px;
                    object-fit: contain;
                }
            }
        }
    }
    &-section-2{
        @extend %max-width-1;
        &-title{
            @extend %title1;
            font-size: 2rem;
            text-align: center;
        }
        .portfolio-filter{
            &-menu{
                li{
                    margin: 1rem;
                    cursor: pointer;
                    a{
                        @extend %gbook;    
                    }
                }
                .filter-active#filter-all,.filter-active#filter-1,.filter-active#filter-2,.filter-active#filter-3{
                    background-color: $primary;
                    padding: 0.6rem 1.8rem;
                    a{
                        color: #fff;    
                    }
                }
            }
            &-boxs{
                max-width: 360px;
                border: 1px solid $border1;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2.7rem 1.5rem;
                text-align: center;
                margin: 2rem 0;
                h5{
                    @extend %text-portfolio-h5;
                    margin: 2.1rem;
                }
                img{
                    max-width: 300px;
                    width: 90%;
                    margin: auto;
                    filter: grayscale(1);
                    transition: all .5s;
                }
                img:hover{
                    transition: all .5s;
                    filter: none;
                }
                p{
                    max-width: 300px;
                }
            }
        }
    }
    &-section-3{
        @extend %bg-image1;
        background-position-x: 27rem;
        background-position-y: 238px;
        background-size: 720px;
        @media screen and (max-width:767px){
            background-position-x: center;
            background-position-y: 110px;
            background-size: contain;
        }
        
        h3{
            @extend %title2;
            max-width: 700px;
            margin: 0 auto 5rem;
            text-align: left;
            position: relative;
            z-index: 50;
            @media screen and (max-width:992px){
                text-align: center;
            }
        }
        #portatil{
            max-width: 1000px;
            width: 100%;
            margin: auto;
            z-index: 50;
            &-x{
                width: 550px;
                right: 0;
                top: -300px;
                @media screen and (max-width:1300px){
                    width: 450px;
                    top: -320px;

                }
            }
        }
        .portfolio-items-boxs{
            max-width: 1000px;
            width: 100%;
            margin: 5rem auto 3rem;
            text-align: center;
            transition: all .6s;
            img{
                width: 70px;
                height: 66px;
                object-fit: contain;
                @media screen and (max-width:992px){
                    margin-top: 4rem;
                }
            }
            
            h5{
                @extend %text-portfolio-h5;
                margin: 1rem;
            }
            p{
                @extend %max-width-m;

            }
        }
        
    }
}
.investment-hr .hr-v1{
    margin: 13rem auto 6rem;
}
.investment-hr2 .hr-v1{
    margin: 13rem auto 11rem;
}

@media screen and (max-width:520px){
    table.investment-table {
    width: 100% !important;
}
}
.investment{
    &-section1{
        @extend %max-width-1;
        &-box1{
            @extend %bg-image1;
            background-position-x: 0;
            background-position-y: top;
            background-size: 700px;
            filter: grayscale(1);
            video{
                width: 87%;
                display: flex;
                margin-top: 60px;
                margin: 60px auto 0;
            }
            @media screen and (max-width:992px){
                padding: 0;
                video{
                    padding: 0;
                    max-width: 600px;
                    width:100%;
                    display: flex;
                    margin: 60px auto 0;
                }
            }
        }
        &-box2{
            max-width: 400px;
            width: 100%;
            margin:0 auto;
            background: #fff;
            box-shadow: 36px 23px 49px -32px #00000031;
            border-radius: 1rem;
            thead, tbody, tfoot, tr, td, th{
                width: 100%;
            }
            th{
                height: 10px;
                @extend %gbold;
                font-size: 1rem;
                color: $primary-50;
            }
            tr{
                display: flex;
                align-items: center;
                height: 35px;
                border-bottom: 1px solid $border1;
            }
            tr:last-child{
                border-bottom: 0;
            }
            
            .separador-td-2{
                margin: 0;
                width: 280px;
            }
            .separador-td-1{
                margin-right: 4rem;
                @extend %gbold;
                font-size: 1rem;
            }
            .separador-td-3 {
                margin-right: -5rem;
            }
            .results{
                @extend %gbold;
                font-size: 1.5rem;
            }
            .results-user-time{
                @extend %gbold;
                font-size: 1rem;
                margin-right: 1.5rem;
                color: $primary-50;
                img{
                    margin-right: .6rem;
                    width: 16.5px;
                }
            //Boton ON Y OFF
            }
           
            .switch-button {
                display: inline-block;
               
            }
            .switch-button__label{
                &:focus {
                    outline: none;
                }
                &:select {
                    outline: none;
                }
            }
            .switch-button .switch-button__checkbox {
                display: none;
            }
            .switch-button .switch-button__label {
                border:1px solid $primary-50;
                width: 3.2rem;
                height: 1.7rem;
                border-radius: 3rem;
                display: inline-block;
                position: relative;
            }
            .switch-button .switch-button__label:before {
                transition: .2s;
                display: block;
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                background-color: gray;
                content: '';
                border-radius: 50%;
                box-shadow: inset 0px 0px 0px 1px black;
            }
            .switch-button .switch-button__checkbox:checked + .switch-button__label {
                background-color:$primary-50;
            }
            .switch-button .switch-button__checkbox:checked + .switch-button__label:before {
                transform: translate(1.6rem, 1px);
            }
            //end boton

            .grafica {
                width: 350px;
                margin: auto;

            }
            @media screen and (max-width:992px){
                margin: 7rem auto 0;
                td, th{
                    text-align: left !important;
                }
                
                
            }
            @media screen and (max-width:520px){
                .separador-td-2{
                    margin: 0;
                    width: 100%;
                }
                .separador-td-1{
                    margin-right: 0;
                }
                .separador-td-3 {
                    margin-right: -2rem;
                }
                .grafica {
                    max-width: 350px;
                    width:100%;
    
                }
            }
            
        }
    }
     @media screen and (max-width:992px){
                td, th{
                    text-align: left !important;
                }
            }
    &-section2{
        background-image: url("../images/tarjeta-bg.svg");

        #tarjeta{
            width: 100%;
            max-width: 720px;
            margin: auto;
            position: relative;
            z-index: 20;
            &-x{
                width: 300px;
                position: absolute;
                left: 20%;
            }
        }
        &-items-boxs{
            &-title-all{
                max-width: 1020px;
                position: relative;
                z-index: 50;
                @extend %title2;
            }
            &-parrafo{
                max-width: 520px;
                margin-top: 5rem;
                margin-bottom: 11rem;
                margin-left: auto;
                font-size:1.06rem!important;
                @extend %gbook;
                @media screen and (max-width:992px){
                    margin: 5rem auto 11rem auto;
                }
            }
            max-width: 1300px;
            width: 80%;
            margin: -4rem auto 0;
            @extend %max-width-m;
            .invest-sec2{
                max-width: 920px;
                margin: auto;
            }
            #trust-security{
                width: 280px;
                
            }
            #investment-transparency{
                width: 185px;
            }
            
            .portatil-boxs{
                max-width: 255px;
                width: 100%;
            }
            img{
                height: 100px;
                width: 90px;
                object-fit: contain;
                display: flex;
                margin:0 auto 1rem;
            }
            h5{
                @extend %gbold;
                font-size: 1.75rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    &-section3{
        max-width: 1100px;
        width: 80%;
        margin: auto;
        @extend %max-width-m;
        @media screen and (max-width:767px){
            margin-bottom: 5rem;
        }
        &-title{
            @extend %title1;
            text-align: center;
        }
        &-accordion{
            margin-top: 4.3rem;
            @extend %max-width-m;
                &-item{
                @extend %acordion-item;
                p{
                    max-width: 930px;
                }
                &-title{
                    @extend %acordion-title;
                }
                .acordion-activo{
                    @extend %acordion-activo;
                }
                .acordion-img-activo{
                    @extend %acordion-img-activo;
                }
                
            }
        }
    }
}
// PAGINA DE LEARN  
.learn{
    &-section-1-form{
            @extend %max-width-1;
            margin:0 auto 9rem !important;
            &-title{
                @extend %title1;
                @media screen and (max-width:767px){
                     margin-top: 0;
                     width: 75%;
                     
                }
            }
            &-description{
                max-width: 405px;
                text-align: center;
                
                &-form{
                    font-size: 0.8rem;
                    margin-top: 15px;
                    max-width: 350px;
                    width: 75%;
                    text-align: center;  
                }
                @media screen and (max-width:767px){
                    margin:2rem 0; 
                    &-form{
                        margin-top: 2.2rem;
                        max-width: 500px;     
                    }
                }
                
            }
            &-email{
                display:flex;
                @media screen and (max-width:767px){
                    flex-direction:column;
               }
            }
            &-search{
                width: 20px;
                pointer-events: none;            
            }
            #email-home{
                width: 400px;
                padding: 6px 15px;
                margin-right: 0.4rem;                
                @media screen and (max-width:580px){
                    width: 100%;
                    margin: 1.7rem 0;
               }
                
            }
            #email-home:placeholder{
                color: $primary-50;
            }
            .send-email{
                @extend %btn1;
                padding: 7px 0;
                width: 160px;
                border-radius: 0.3rem;
                font-weight: 800;
                font-size: 1rem;
                letter-spacing: 1px;
                @media screen and (max-width:767px){
                    margin:2rem auto 0;
               }
               @media screen and (max-width:580px){
                padding:7px 0;
           }
            }
            
        }
}
.learn-section-2{
    max-width: 1400px;
    width: 80%;
    margin: auto;
    position: relative;
    @extend %max-width-m;
    &-x{
        position: absolute;
        right: -110px;
        top: -13%;
        width: 250px;
        @media screen and (max-width:1000px){
            right: 0;
            width: 230px;
       }
    }
    &-x2{
        position: absolute;
        top: 10%;
        left: -29%;
        width: 550px;
    }
    &-accordion{
        
    // ACORDION  PADRE
        &-item{
            background-color: #F8F8F880;
            border-radius: 0.6rem;
            padding: .5rem 4rem;
            margin-top: 2rem;
            border: none;
            position: relative;
            z-index: 50;
            @extend %acordion-item;
            @media screen and (max-width:767px){
                padding:.5rem 1rem;
           }
            &-title{
                @extend %acordion-title;
                h3{
                    font-size: 1.8rem;
                    letter-spacing: 2px;
                    padding: 5rem 0 1rem;
                    
                    @media screen and (max-width:767px){
                        padding:1.5rem .8rem;
                   }

                }
            }
            .acordion-activo-padre{
                @extend %acordion-activo;
            }
            .acordion-img-activo-padre{
                @extend %acordion-img-activo;
            }
             // ACORDION  HIJO
             .learn-section-2-accordion-item-box{
                 height: 0;
                 opacity: 0;
                 overflow: hidden;
                 transition: all 0s; 
             }
            .acordion-activo-padre.learn-section-2-accordion-item-box{
                height: 100%;
                opacity: 1;
                transition: all 0s; 
                .learn-section-2-accordion-sub{
                    &-item{
                        background-color:#FFFFFF50;
                        padding: 3.5rem 3.5rem 0;
                        border-radius: 0.4rem;
                        margin-top: 0.5rem;
                        border: none;
                        @media screen and (max-width:767px){
                            padding:2.5rem 0;
                       }

                        @extend %acordion-item;
                            &-title{
                                @extend %acordion-title;
                            }
                            .acordion-activo-hijo{
                                @extend %acordion-activo;
                            }
                            img.acordion-img-activo-hijo{
                                @extend %acordion-img-activo;
                            }
                            
                        }
                }
            }   
            
        }  
    }
    // FIN ACORDION 
}
.learn-section-3{
    text-align: center;
    margin-top: -3rem;
    &-title{
        @extend %title1;
    }
    &-description{
       @extend %descriptions-1;
       max-width: 400px;
       margin:auto;
    }
    .learn-carousel{
        margin-top: 1.8rem;
        position: relative;
        &-list{
            overflow: hidden;
            max-width: 1500px;
            width:100%;
            height: 350px;
            display: flex;
                &-item{
                    @extend %c-item;
                    img{
                        max-width: 375px;
                        width:100%
                    }
                }
        }
        &-return, &-next{
            @extend %c-arrows;
        }
         &-return:hover, &-next:hover{
            opacity: 100%
        }
        &-return{
            left: calc(50% - 290px);
        }
        &-next{
            right: calc(50% - 290px);

        }
        @media screen and (max-width:650px){
            &-return{
                left: 0;
            }
            &-next{
                right: 0;
    
            }
        }
    }
    .learn-carousel::before, .learn-carousel::after{
        content: " ";
        position: absolute;
        z-index: 1;
        width: 500px;
        height: 100%;
        top: 0;
        @media screen and (max-width:992px){
            width: 0;
        }
    }
    .learn-carousel::before{
        left: 0;
        background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
    .learn-carousel::after{
        right: 0;
        background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%)
    }
    .glide__slide{
        @extend %c-blur;
    }
    .glide__slide.center{
        @extend %c-blur-active;
        transform: scale(1.15);
    }
}

// PAGINA DE MINT


.mint .parallax-content-text-parrafo{
    max-width: 658px;
}
.mint-section1{
   &-title{
    text-align: center;
    @extend %title1;
    font-size: 3.6rem;
    }
    &-descriptions{
        @extend %descriptions-1;
        max-width: 700px;
        margin: 2.5rem auto;
    }
    &-btn-mint{
        margin-bottom: 3rem;
        width: 180px;
        @extend %btn1;
    }
   
}
.mint-section2{
    &-title{
        text-align: center;
        margin: 8rem 0;
        font-size: 3.5rem;
        @extend %title1;
    }
    img{
        height: 80px;
        width: 220px;
    }
    &-content{
        max-width: 1000px;
        margin: auto;
        &-boxs{
            &:first-child{
                max-width: 247px;
                h5{
                    text-align: left;
                }
                p{
                    text-align: center;
                }
            }
            &:last-child{
                max-width: 247px;
                h5{
                    text-align: right;
                }
                p{
                    text-align: center;
                }
            }
            h5{
                font-size: 1.85rem;
                text-align: left;
                margin-bottom: 2rem;
                @extend %gbold;
            }
            @media screen and (max-width:992px){
                max-width: 350px !important;
                margin-bottom: 2rem;
                h5{
                    font-size: 1.65rem;
                    text-align: center !important;
                }
                p{
                    text-align: center !important;
                }

            }
        }
    }
   
}

.mint-section3{
    background-image: url(../images/tarjeta-bg.svg);
    &-content{
    }
    &-card{
        img{
            min-width: 450px;
            transform: translate(0);
        }
        @media screen and (max-width:1500px){
            margin: 3rem;
            img{
                min-width: auto;
            }
        }
    }
}

.mint-x1,.mint-x2{
    width: 320px;
    z-index: -1;
    @media screen and (max-width:1000px){
        width: 290px;
    }
    @media screen and (max-width:767px){
        width: 240px;
    }
    @media screen and (max-width:600px){
        width: 190px;
    }
}
.mint-x1{
    right: 0;
    top: -15%;
}
.mint-x2{
    left: 0;
    top: -50%;
}

.mint-join-btn,.mint-view-btn{
    font-weight: bold;
    padding: 0.6rem 1.5rem;
    margin-bottom: 2rem;
    @extend %gbold;
    
}
.mint-join-btn{
    margin-right: 1.5rem;
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    img{
        width: 15px;
    }

}
.mint-view-btn{
    img{
        width: 13px;
    }
}


.carouse-mint{
    max-width: 740px;
    @media screen and (max-width:1500px){
        max-width: 100%;
    }
        .carousel-container-mint{
            margin-top: 1.8rem;
            position: relative;        
        &-list{
            overflow: hidden;      
            max-width: 750px;
                &-item{
                    @extend %c-item;
                }
        }
        &-return, &-next{
            top: calc(50% - 16px);
            @extend %c-arrows;
        }
        &-return:hover, &-next:hover{
            opacity: 100%
        }
        &-return{
            left: -25px;
        }
        &-next{
            right: -25px;
        }
        .glide__slide{
            filter: blur(0);
            opacity: 1;
            }
            .glide__slide.center{
            @extend %c-blur-active;
            }
        }


    }
    // HR SEPARADADOR 
    .hr-v1-div.mint-1 >hr{
        margin: 10rem auto;
    }
    .mint-our-team{
       .p-book{
        text-align: center !important;
        max-width: 1300px !important;
       }
    }